
$main-color: #545454;


.content-home{
  padding-left: 20%;
  padding-top: 15%;
}
.main-title{
  font-size: 64px;
  font-family: "Poppins";
  font-weight: 700;
  color: $main-color;
}

nav{
  font-family: "Poppins";
  font-weight: 100;
  color: $main-color;
}

#designer{
  color: #49B7C4;
}
#photography{
  color: #08415C;
}
#pugs{
  color: #E39774;
}


.img-container{
  max-height: 630px;
  max-width: 630px;
  background-color: red;
}

.row{
  height: 100vh;
}

.paragraph{
  font-family: "Poppins";
  font-weight: 100;
  font-size: 24px;
  color: $main-color;
}
