
$main-color: #545454;

.homepage-container{
  position: fixed;
}
.content-home{
  padding-left: 20%;
  padding-top: 15%;
}
.main-title{
  font-size: 5vw;
  font-family: "Poppins";
  font-weight: 700;
  color: $main-color;
}

nav{
  font-family: "Poppins";
  font-weight: 100;
  color: $main-color;
}

#designer{
  color: #49B7C4;
}
#photography{
  color: #08415C;
}
#pugs{
  color: #E39774;
}


.img-container{
  max-height: 630px;
  max-width: 630px;
  margin-top: 80px;
  margin-left: 180px;
  float: right;
  padding: 0;
  visibility: hidden;
}

.img {
    display: block;
    width: 100%;
}

/*.row{
  height: 100vh;
}
*/

.paragraph{
  font-family: "Poppins";
  font-weight: 100;
  font-size: 2vw;
  color: $main-color;
}

.content-portfolio{
  padding-left: 50px;
  padding-right: 0;
  padding-top: 100px;
  max-width: 600px;
}
.navbar-brand{
  z-index: 999 !important;
}
.menu-item{
  z-index: 999 !important;
}

.site-footer{
  display: none;
}



@media screen and (max-width: 860px) {
  .paragraph{
    font-size: 18px;
    width: 300px;
  }
  .main-title{
    font-size: 40px;
  }
  .content-portfolio{
    padding-top: 40px;
  }
  .img-container{
    display: block;
    margin-left: auto;
    margin-right: 50px;
    width: 600px;
    height: 600px;
  }
  .navbar-toggler{
    position: absolute;
    right: 20px;
    top: 20px;
  }
}

@media screen and (max-width: 1280px) {
  .img-container{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .content-home{
    padding-left: 20px;
    padding-top: 30%;
  }
}

@media screen and (min-width: 1281px) {
  .img-container{
    display: block;
    margin-left: auto;
    margin-right: 50px;
  }
}

@media screen and (max-width: 768px) {
  .navbar-nav{
    position: relative !important;
    margin-top:30%;
    margin-left: 30%;
  }
  .content-home{
    padding-left: 40px;
    padding-top: 40%;
  }
  .img-container{
    width: 300px;
    margin-top: 30px;
  }

}

@media screen and (max-height: 667px){
  .img-container{
    width: 250px;
    margin-top: 15px;
    margin-left: 50px;
  }
}

.navbar-toggler{
  border-color: transparent !important;
}
.navbar-nav{
  position: absolute;
  right: 30px;
  top:20px;
}
.navbar-brand{
  position: absolute;
  left: 40px;
  top:20px;
}
